<?xml version="1.0"?>

<launch>

<arg name="map"                                 default="test"      />
<arg name="launch_rviz"                         default="true"      />
<arg name="launch_map_server"                   default="true"      />

<!-- map server -->
<group if="$(arg launch_map_server)">
  <include file="$(find multi_robot)/launch/map_server.launch">
    <arg name="map" value="$(arg map)" />
  </include>
</group>

<!-- start rviz -->
<group if="$(arg launch_rviz)">
  <include file="$(find multi_robot)/launch/rviz.launch">
  <!--arg name="cfg" value="$(arg map)"/--> 
  </include>
</group>

</launch>
